/*
Project Name:
Project Author:
Project Stared Date:
Project Version:
Support: 

Sections
01.Header
02.Banner
03.WHat's F1
04.Company Profile
05.Recruits 
05.Company Profile
06.Map
07.Footer 
*/

/* ===============  Basic css here ===============*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
.btn{
	background: #202870;
    color: #fff;
    padding: 30px 100px;
    font-size: 20px;
    font-weight: 700;
}
.responsive-mebile-menu-icon{
    display: none;
}
/*============== Header Css Start ====================*/
header{
	padding: 0px 120px;
	position: relative;
	z-index: 999;
	
}
.header-top{
	text-align: right;
	margin-top: 22px;
}
.header-top span{
	padding: 0px 0px 0px 25px;
	font-size: 20px;
	color:#fff;
}
.header-top span a{
	color:#fff;

}
nav{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.level-menu ul{
	display: flex;
	margin: 22px 0px;
}
.level-menu ul li a{
	font-size: 20px;
    font-weight: 500;
    padding: 0px 0px 0px 85px;
    color:#fff;
}

/*============== Header Css End ====================*/


/*============== Banner Section Css Start ====================*/
.banner-section{
	position: relative;
}
#myVideo{
	width: 100%;
}
.video{
	margin-top: -112px;
    position: relative;
    z-index: -1;
}
.banner-section-content{
	position: absolute;
    top: 40%;
    color: #fff;
    padding: 0px 120px;
}
.banner-section-content h1{
	font-size: 90px;
    line-height: 108px;
    font-weight: 700;
    transform: scale(1.4);
    padding-left: 87px;

}
.banner-section-content p{
	font-size: 20px;
    padding-top: 40px;
}
/*============== Banner Section Css End ====================*/



/*============== What f1 start ====================*/
.what-f1-title{
	font-size: 50px;
	font-weight: bold;
}
.what-f1{
	/*clip-path: polygon(100% 0%, 100% 93%, 0% 57%, 0% 0%);
    background: #01A3AE;
    color: #fff;
    padding: 60px 120px;
    position: relative;
    height: 306px;
    margin-top: -4px;*/
	
    background: #01A3AE;
    color: #fff;
    padding: 60px 120px;
    position: relative;
    
    margin-top: -4px;
    z-index: 1;
}
.what-f1:before{
	content: "";
    position: absolute;
    bottom: -95px;
    height: 154px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
    margin-bottom: 23px;
    margin-left: -120px;
}
.bg-image {
    position: absolute;
    right: 3px;
    top: 32px;
    /*width: 383px;*/
    overflow: hidden;
    z-index: -1;
    opacity: 0.3;
}
.what-f1-title-content{
	font-size: 20px;
}
/*============== What f1 end   ====================*/




/*============== Services Css Start ====================*/
.service-section{
	margin-top: 100px;
}
.sinlge-services{
	/*display: grid;
	display: -ms-grid;
    grid-template-columns: 2fr 2fr;
    -ms-grid-columns: 2fr 2fr;

    -ms-grid-template-columns:2fr 2fr;
    -webkit-grid-template-columns: 2fr 2fr;
    -moz-grid-template-columns: 2fr 2fr;
    align-items: center;
    -ms-align-items: center;*/
    display: flex;
    align-items: center;

}
.service{
flex-grow: 1;
    flex-basis: 0;
}
.single-service-left img{
	width: 95%;
	-ms-width: 95%;
	
}
.single-service-right img{
	width: 90%;
	text-align: left;
}

.single-service-content{
	padding: 0px 118px 0px 70px;

}
.single-service-content h1{
	font-size: 50px;
    font-weight: bold;
}
.single-service-content p{
	font-size: 20px;
	text-align: justify;
	margin-top: 20px;
}
.single-service-left{
	text-align: left;
	/*padding: 0px 118px 0px 31px;*/
}
.single-service-right{
	/*padding: 0px 31px 0px 118px;*/
	text-align: right;
}
.single-service-left-content{
	padding: 0px 66px 0px 120px;
}
.single-service-right-image{
	width: 95% !important;
}
.sinlge-services{
	margin: 55px 0px 40px 0px;
}
/*============== Services Css end ====================*/



/*============== Services Css end ====================*/
.recruits-section{
	background: #01A3AE;
    color: #fff;
    height: 840px;
    /* transform: skew(0deg, 6deg); */
    /*clip-path: polygon(100% 21%, 100% 89%, 0% 74%, 0% 0%);*/
    padding: 0px 120px;
}

/*============== Services Css end ====================*/

.main-recruits{
	display: flex;
	margin-bottom: 50px;
	position: relative;
    top: -62px;
}
.recruits{
	padding: 0px 120px;
	background: #01A3AE;
    color: #fff;

     /*height: 840px;
	
    transform: skew(0deg, 6deg);
    clip-path: polygon(100% 15%, 100% 89%, 0% 74%, 0% 0%);*/
    position: relative;
    
    margin-top: 155px;
}
.recruits:after{
	content: "";
    position: absolute;
    top: -77px;
    height: 154px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
    margin-left: -120px;

}
.recruits:before{
	content: "";
    position: absolute;
    bottom: -95px;
    height: 154px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
    margin-bottom: 23px;
    margin-left: -120px;

}
.recruits-left{
	float: left;
    margin-right: 70px;
    border-right: 1px solid #fff;
    padding-right: 79px;
}
.recruits-right{
	float: left;
}
.recruits-left p {
	font-size: 20px;
    line-height: 40px;
}
.recruits-right p {
	font-size: 20px;
    line-height: 40px;
}
.recruits-title{
	font-size: 50px;
	font-weight: bold;
	margin: 50px 0px;
	position: relative;
    top: -54px;
}
/*============== Company Profile Css Start ====================*/
.company-profile{
	padding: 0px 120px;
	clear: both;
	margin-top: 100px;
}
.main-company-content{
	display: flex;
}
.company-profile-left{
	float: left;
    margin-right: 70px;
    border-right: 1px solid #000;
    padding-right: 78px;
    margin-bottom: 60px;
}
.company-profile-right{
	float: left;
}
.company-profile-left p {
	font-size: 20px;
    line-height: 40px;
}
.company-profile-right p {
	font-size: 20px;
    line-height: 40px;
}
.company-profile-title{
	font-size: 50px;
	font-weight: bold;
	margin: 50px 0px;
}
/*============== Company Profile Css end   ====================*/



/*============== Button Css Start ====================*/
.btn-section{
	text-align: center;
	margin: 80px 0px;
}
/*============== Button Css End ====================*/



/*============== Footer Css Start ====================*/
footer{
	padding: 0px 120px;
	background-color: #01A3AE;
}

.footer-display-flex{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-level-menu ul{
	display: flex;
}
.footer-level-menu ul li a{
	font-size: 20px;
    font-weight: 500;
    padding: 0px 0px 0px 40px;
    color: #fff;
}
.footer-logo img{
	margin: 30px 0px;
}
.copy-right-text{
	float: right;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
}
.
/*============== Footer Css End ====================*/
