header{
  border-bottom: 1px solid #ddd;
}

.level-menu ul li a {
    font-size: 15px;
    font-weight: 500;
    padding: 0px 0px 0px 80px;
    color: #000;
}
.header-top span{
  padding: 0px 0px 0px 25px;
  font-size: 15px;
  color:#000;
}

.header-top span a{
  color:#000;

}
.inquery-heading h1{
  font-size: 50px;
    /*margin: 60px 0px;*/
}
.inquery-heading p{
  font-size: 15px;
  text-align: left;
  padding: 30px 0px 60px 0px;
}
.inquiry-section{
  padding: 85px 0px 80px 120px;
}
.inquiry-form{
  padding: 0px 111px;
}
.input-style{
  width: 60%;
}
.input-style{
  
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.single-input{
  display: flex;
  /*display: -ms-grid;
    grid-template-columns: 50% 50%;
    -ms-grid-template-columns: 50% 50%;*/
    align-items: center;
    -ms-align-items: center;
    margin-bottom: 20px;
}
.inquery-heading{
  text-align: center;
  /*padding-bottom: 100px;*/
}
.required{
  background: #E30212;
    color: #fff;
    padding: 4px;
    font-size: 11px;
    margin-left: 12px;
}
.single-input label{
  font-size: 15px;
  width: 30%;
  color: #3F3F3F;
}
.single-input input{
  width: 60%;
}
.single-input textarea{
  width: 60%
}
.width-2x{
  width: 31% !important;
}
.select-input{
  height: 50px;
}
/* The container */
.single-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 5px;
}

/* Hide the browser's default checkbox */
.single-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* On mouse-over, add a grey background color */
.single-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.single-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.single-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.single-checkbox .checkmark:after {
   left: 6px;
   top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.all-checkbox{
  /*display: flex;
    justify-content: space-between;
    -ms-justify-content: space-between;*/
}
.flex-basis{
  /*flex-grow: 1;
  flex-basis: 0;*/
}
.custom-btn{
  border: none;
  padding: 24px 122px;
  cursor: pointer;
  margin-top: 30px;
}

.textarea-input{
  height: auto !important;
}
.all-checkbox {
  width: 70%;
}
.all-checkbox label{
  width: 17.5%;
  float: left;
}
@media only screen and (max-width: 800px){
  .width-2x {
      width: 60% !important;
  }

  .main-menu {
    padding: 0px 1px 20px 0px !important;
  }
  .logo img {
    height: 45px !important;
  }
  .btn {
    padding: 24px 122px !important;
  }
  .btn-input{
    align-items: center !important;
  }
.custom-btn{
    margin-top: -16px;
}
.input-style{
  font-size: 14px;

}
  .inquery-heading p {
    font-size: 12px;
    text-align: left;
    padding: 30px 0px 5px 0px;
  }
.inquery-heading h1{
  font-size: 32px;
    /*margin: 60px 0px;*/
}
.logo-inquiry{
  padding-top: 30px !important;
}
.responsive-mebile-menu-icon {
    display: block;
    margin-top: 20px !important;
}
.inquiry-section {
    padding: 35px 0px !important;
}
}