@media only screen and (max-width:766px) {
	header {
	    padding: 0px 30px;
	}
.main-menu{
	padding-top: 20px;
    padding-bottom: 13px;
}
.web-1{
    margin-left: -5px;

}
.web-2{
   margin-left: -2px;
    font-size: 14px !important;
}
.web-3{
   font-size: 14px !important;
    margin-left: -4px;
}


	.responsive-mebile-menu-icon{
	    display: block;
	    margin-top: -10px;
	}
	.video {
	    margin-top: -151px;
	    position: relative;
	    z-index: -1;
	}
	.responsive-mebile-menu-icon a{
	    color: #fff;
	    z-index: 9999;
	    position: relative;
	    font-size: 30px;
	}
.inquery-menu{
color:#000 !important;
}
.sticky .responsive-mebile-menu-icon a{
	    color: #000;
    /* background: red; */
    z-index: 9999;
    left: -58px;
    position: relative;
    font-size: 30px;
	}
	.btn {
	    
	    padding: 30px 80px;
	}
	.logo{
		padding-top: 5px;
	}
	.level-menu ul {
		flex-direction: column;
	}

	.banner-section-content h1 {
	        font-size: 11px;
	    line-height: 23px;
	    /* padding-left: 30px; */
	    transform: scale(1.6);
	    padding-left: 32px;
	}
	.banner-section-content {
	    top: 53%;
    	padding: 0px 30px;
	}
	.banner-section-content p {
	    font-size: 18px;
	    padding-top: 7px;
	}
	.banner-section-content p:after {
	        content: "";
		    position: absolute;
		    background: #fff;
		    height: 1px;
		    width: 50%;
		    left: 106%;
		    top: 71%;

	}
	.single-service-left-content {
	    padding: 0px 0px 0px 0px;
	}
	.single-service-content {
	    padding: 65px 30px 0px 30px;
	}

	.single-service-content h1 {
	    font-size: 27px;
	}
	.sinlge-services {
	   display: flex;
	   flex-direction: column;
	}
	.what-f1-title {
	    font-size: 30px;
	}

	.what-f1 {
		/*clip-path: polygon(100% 0%, 100% 77%, 0% 71%, 0% 0%);*/
	    padding: 40px 30px;
	    /*height: 504px;*/
	}
	.bg-image {
		position: absolute;
	    right: 3px;
	    top: 67%;
	    width: 271px;
	    overflow: hidden;
	    z-index: 0;
	    opacity: 0.3;
	}
	.recruits {
	
    padding: 0px 30px;
    background: #01A3AE;
    color: #fff;
    /*height: 1046px;*/
    /* transform: skew(0deg, 6deg); */
    /*clip-path: polygon(100% 7%, 100% 89%, 0% 82%, 0% 0%);*/
    margin-top: 250px;

	}
	.recruits-left {
	    float: left;
	    margin-right: 37px;
	    border-right: 1px solid #fff;
	    padding-right: 2px;
	    width: 100%;
	}
.recurit-two-left p:nth-child(2){
    padding-bottom: 65px !important;
}

	.sinlge-services{
		margin: 0px 0px -35px 0px;
	}

	.service-two{
		margin: 70px 0px -35px 0px;
	}
	.service-three{
		margin: 90px 0px -75px 0px;
	}

	.company-profile {
	    padding: 0px 30px;
	    clear: both;
	    /*margin-top: -144px;*/
	}
	.company-profile-left {
	    float: left;
	    margin-right: 35px;
	    border-right: 1px solid #000;
	    padding-right: 0px;
	    /* margin-left: -3px; */
	    margin-bottom: 60px;
	    width: 100%;
	}
	.company-profile-title {
	    font-size: 30px;
	    font-weight: bold;
	    margin: 30px 0px;
	}
	.recruits-title {
	    font-size: 40px;
	    font-weight: bold;
	    /*margin: 50px 0px;*/
	}
	/* Footer */
	.footer-level-menu ul {
		/*flex-direction: column;*/
		display: inline-block;
text-align: right;
	}
	.footer-level-menu ul li a {
	    font-size: 10px;
	    padding: 0px 0px 0px 15px;
	}
	.footer-level-menu ul li{
		display: inline-block;
	}

	footer {
    	padding: 35px 30px 55px 30px;
	}
	.copy-right-text{
		font-size: 12px;
    margin-top: 43px;
    margin-bottom: -39px;
	}
	.header-top{
		display: none;
	}
	.service-image-two{
		order:-2;
		-ms-order:-2;
	}
	.level-menu{
		display: none;
	}
	.recruits:after {
	       content: "";
    position: absolute;
    top: -74px;
    height: 154px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 4deg);
    z-index: -1;
    left: 0px;
	}
	.recruits:before {
	   content: "";
    position: absolute;
    bottom: -95px;
    height: 154px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 4deg);
    z-index: -1;
    margin-bottom: 23px;
    left: 0px;
	}

	 /* Inquiry page css*/
	.inquiry-section {
	    padding: 63px 0px;
	}
	.inquiry-form {
	    padding: 0px 30px;
	}
	.single-input {
	     align-items: flex-start; 
	    -ms-align-items: flex-start;
	    margin: 20px 0px;
	    flex-direction: column;
	}
	.single-input label {
		font-size: 14px;
	    width: auto;
	    padding: 22px 0px;

	}
	.single-input input {
	    width: -webkit-fill-available !important;
	    width: -ms-fill-available !important;
	    width: -moz-fill-available !important;
	}
	.single-input textarea {
	    width: -webkit-fill-available !important;
	    width: -ms-fill-available !important;
	    width: -moz-fill-available !important;
	}
	.width-2x {
	    width: auto ;
	}
	.all-checkbox{
		flex-direction: column;
	}
	.what-f1:before {
	   content: "";
    position: absolute;
    bottom: -95px;
    height: 154px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
   margin-bottom: 72px;
    left: 0%;
	}
	.service-section {
	    margin-top: -120px;
	}

	.service {
		/*width: 100%;*/
	}

	.all-checkbox label{
		font-size: 14px;
	    width: 100%;
	    padding: 20px 0px;
	    padding-left: 43px;
	    padding-top: 0px;
	}
	.display-none{
	  display: none;
	}
	.mobile-width{
		width: 92% !important;
	}

	.btn-section {
	    text-align: center;
	    margin: 85px 0px;
	}

.company-profile-left p:nth-child(2){
    padding-bottom: 42px;
}
.line{
padding: 0px 5px;
}

}



@media only screen 
  and (min-device-width: 320px) 
  and (max-width:700px){
  	
	.company-profile-right {
	    margin-bottom: 70px;
	}
	.company-profile {
	    padding:1px 30px;
	    clear: both;
	    margin-bottom: 10px;
	    /*margin-top: -200px;*/
	}
	.banner-section-content h1 {
	    font-size: 11px !important;
    line-height: 12px !important;
    /* padding-left: 30px; */
    transform: scale(1.6) !important;
    padding-left: 26px !important;
	}
	.banner-section-content p {
	    font-size: 10px;
    padding-top: 15px;
    margin-left: 0px;
	}
	.logo img{
		height: 36px;
    	/*margin-top: 15px;*/
	}
	.what-f1-title-content {
	    font-size: 17px;
    	padding: 0px 0px 0px 0px;
	}
	.single-service-content p {
	    font-size: 14px;
	     line-height: 30px;
	         margin-top: 20px;
	}
	.recruits-right p {
	    font-size: 12px;
	     /*line-height: 30px;*/
	     width: 100%;
	     padding: 0px 0px 10px 0px
	}
	.recruits-left p {
	    font-size: 12px;
	     /*line-height: 30px;*/
	     width: 100%;
	     padding: 0px 0px 10px 0px
	}
	.recruits-left p:nth-child(2){
		padding-bottom: 48px;
	}
	.main-company-content {
	    display: flex;
	    margin-top: 48px;
	}
	.recurit-one {
	    padding: 32px 0px 28px 0px;
	}
	.recruits-right {
	    float: left;
	    padding-right: 27px;
	}
.recurits-one{
margin-bottom: 80px;
}
.recurit-tow-left p:nth-child(2){
padding-bottom: 65px !important;
}
	.company-profile-right p {
	    font-size: 11px;
	    /*line-height: 30px;*/

	}
	.company-profile-left p {
	    font-size: 11px;
	     /*line-height: 30px;*/
	     width: 100%;
	     padding: 0px 0px 11px 0px
	}
	.what-f1 {
	    /*clip-path: polygon(100% 0%, 100% 80%, 0% 74%, 0% 0%);*/
	    padding: 74px 33px;
	    
	    margin-top: -77px;
	}
	#myVideo {
	    height: 326px;
	}
	.btn {
	    padding: 30px 55px;
	}
	
	
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
  	.btn {
	            padding: 20px 45px !important;
    font-size: 16px;
	}
	.btn-image-angle {
	   height: 16px;
    margin: 0px 0px -8px 0px;
    position: absolute;
    right: 12px;
    top: 20px;
	}
	.recruits{
		/*height: 1952px;*/
		padding: 28px 0px 15px 30px;
	}
  }



  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) {
	.recruits:before {
	   
	}
	.recruits:after {
	   
	}
	.copy-right-text{
		font-size: 12px;
	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
.sticky {
    position: fixed;
    top: 0;
    width: 83%;
    width: -ms-available;          /* WebKit-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    background: #fff;
    transition: .5s;
}
.sticky .level-menu ul li a{
    font-size: 12px;
    font-weight: 500;
    padding: 0px 0px 0px 50px;
    color: #000;
    font-family: 'M PLUS 1p', sans-serif;

}
.#myVideo{
height:auto;
}
.banner-section-content h1 {
    transform: scale(2.5);
    font-size: 20px;
    padding-left: 62px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 20px;
}
header{
   padding: 18px 70px;
}
.level-menu ul li a{
font-size:12px;
padding: 0px 0px 0px 50px;
}
.what-f1:before {
    content: "";
    position: absolute;
    bottom: -108px;
    height: 172px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
    margin-bottom: 55px;
    left: 0px;
}
.banner-section-content p {
    font-size: 20px;
    padding-top: 45px;
    position: relative;
    left: -53px;
}
.what-f1{
padding: 74px 70px;
    
/*clip-path: polygon(100% 0%, 100% 80%, 0% 61%, 0% 0%);*/
}
.bg-image{
height: 150px;
    position: absolute;
    top: 236px;
}
.single-service-content h1{
font-size: 30px;
}
.single-service-content{
padding: 68px 70px 0px 31px;
}
.single-service-content p{
    font-size: 13px;
}
footer{
    padding: 25px 70px;
}
.footer-level-menu ul li a{
    font-size: 14px;
}
.company-profile{
padding: 0px 70px;
}
.recruits{
padding: 12px 70px;
}
/*.recruits:before {
margin-left: -70px;
}
.recruits:after{
margin-left: -70px;
}
*/.recruits-left {
    float: left;
    margin-right: 48px;
    border-right: 1px solid #fff;
    padding-right: 15px;
    width: 20%;
}
.company-profile-left{
    width: 20%;
}
.company-profile-left p:nth-child(2){
padding-bottom: 35px;
}
}