/*
Project Name:
Project Author:
Project Stared Date:
Project Version:
Support: 

Sections
01.Header
02.Banner
03.WHat's F1
04.Company Profile
05.Recruits 
05.Company Profile
06.Map
07.Footer 
*/

/* ===============  Basic css here ===============*/
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body{
    margin: 0;
    padding: 0;
    /*font-family: 'Roboto', sans-serif;*/

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.btn{
    background: #202870;
    color: #fff;
    padding: 30px 100px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.responsive-mebile-menu-icon{
    display: none;
}
/*============== Header Css Start ====================*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 100%;
    width: -ms-available;          /* WebKit-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    background: #fff;
    transition: .5s;
}
.sticky .level-menu{

    position: relative;
    left: -18%;

}

.sticky .level-menu ul li a{
    font-size: 15px;
    font-weight: 500;
    padding: 0px 0px 0px 80px;
    color: #000;
    font-family: 'M PLUS 1p', sans-serif;

}
.sticky .header-top span a{
    color:#000;

}
.sticky .header-top span{
    padding: 0px 0px 0px 23px;
    font-size: 15px;
    color: #000;
    font-weight: 300;
}
header{
    padding: 18px 120px;
    position: relative;
    z-index: 999;
}
.header-top{
    text-align: right;
    padding-right: 3px;
    /*margin-top: 22px;*/
}
.header-top span{
    padding: 0px 0px 0px 23px;
    font-size: 15px;
    color: #F8FFFF;
    font-weight: 300;
}
.header-top span a{
    color:#fff;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 62px;
    margin-top: -10px;
}
.level-menu ul{
    display: flex;
    margin: 15px 0px;
}
.level-menu ul li a{
    font-size: 15px;
    font-weight: 500;
    padding: 0px 0px 0px 80px;
    color: #fff;
    font-family: 'M PLUS 1p', sans-serif;

}

/*============== Header Css End ====================*/


/*============== Banner Section Css Start ====================*/
.banner-section{
    position: relative;
}
#myVideo{
    width: 100%;
}
.video{
    margin-top: -127px;
    position: relative;
    z-index: -1;
}
.banner-section-content{
    position: absolute;
    top: 50%;
    color: #fff;
    padding: 0px 120px;
}
.banner-section-content h1{
   transform: scale(4.5);
    font-size: 20px;
    padding-left: 109px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.banner-section-content p{
    font-size: 20px;
    padding-top: 135px;
    position: relative;

}
.banner-section-content p:after{
     content: "";
    position: absolute;
    background: #fff;
    height: 1px;
    width: 100%;
    /* right: -36px; */
    margin-left: 10px;
    bottom: 15px;
}
/*============== Banner Section Css End ====================*/



/*============== What f1 start ====================*/
.what-f1-title{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.what-f1{
    background: #01A3AE;
    color: #fff;
    padding: 51px 120px;
    position: relative;
    /*height: 336px;*/
    margin-top: -6px;
    margin-bottom: 215px;
    /*clip-path: polygon(100% 0%, 100% 93%, 0% 57%, 0% 0%);*/

}
.what-f1:before {
    content: "";
    position: absolute;
    /* bottom: -95px; */
    height: 172px;
    left: 0;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
    margin-bottom: 24px;
    /* margin-left: -120px; */
    bottom: -110px;
}
.section-content-f1{
    padding-top: 25px;
}
.bg-image {
   position: absolute;
    right: 3px;
    top: 32px;
    /*width: 383px;*/
    overflow: hidden;
    z-index: 1;
    opacity: 0.3;
}
.what-f1-title-content{
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
line-height: 36px;
padding: 0px 141px 0px 0px;
    font-family: 'M PLUS 1p', sans-serif;

}
/*============== What f1 end   ====================*/




/*============== Services Css Start ====================*/


.service-section{
    margin-top: -119px;
}
.sinlge-services{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 50% 50%;
    -ms-grid-template-columns: 2fr 2fr;
     -ms-grid-columns: 50% 50%;
    /*align-items: center;*/
    -ms-flex-pack: center;
    -ms-flex-line-pack: center;
    height: 100%;
}
.single-service-content {

    -ms-flex-pack: center;
    -ms-flex-line-pack: center;
  
}
.single-service-right{
    -ms-grid-row: 1;
    -ms-grid-column: 2;

}
.single-service-left img{
    width: 90%;
}
.single-service-right img{
    width: 90%;
    text-align: left;
}
.web-2{
    font-size: 15px !important;
    margin-right: 8px !important;
}

.single-service-content{
    /*align-self: center;*/
    /*position: relative;
    top: 50%;
    transform: translateY(-18%);*/
    padding: 150px 118px 0px 31px;

}
.single-service-content h1{
    font-size: 50px;
    font-weight: 900;
    color: #212B72;
    font-family: 'M PLUS 1p', sans-serif;

}
.single-service-content p{
    margin-right: 11px;
    font-size: 16px;
    text-align: left;
    margin-top: 21px;
    color: #000;
    line-height: 35px;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}
.single-service-left{
    text-align: left;

    /*padding: 0px 118px 0px 31px;*/
}
.single-service-right{
    /*padding: 0px 31px 0px 118px;*/
    text-align: right;
}
.single-service-left-content{
    padding: 150px 66px 0px 120px;
}
.single-service-right-image{
    width: 95% !important;
}
.sinlge-services{
    margin: 48px 0px 40px 0px;
}
/*============== Services Css end ====================*/



/*============== Services Css end ====================*/
.recruits-section{
    background: #01A3AE;
    color: #fff;
    height: 840px;
    /* transform: skew(0deg, 6deg); */
    clip-path: polygon(100% 21%, 100% 89%, 0% 74%, 0% 0%);
    padding: 0px 120px;
}

/*============== Services Css end ====================*/

.main-recruits{
    display: flex;
    
    position: relative;
    top: -17px;
}
.recruits{
    padding: 51px 120px;
    background: #01A3AE;
    color: #fff;

     /*height: 840px;
    
    transform: skew(0deg, 6deg);
    clip-path: polygon(100% 15%, 100% 89%, 0% 74%, 0% 0%);*/
    position: relative;
    
    margin-top: 144px;
}
.recurit-one{
    margin-bottom: 50px;
}
.recurit-two{
    margin-bottom: 24px;
}
.recruits:after{
        content: "";
    position: absolute;
    /*top: -74px;
    height: 206px;*/
    top: -83px;
    height: 166px;

    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
    left: 0px;

}
.recruits:before{
    content: "";
    position: absolute;
    bottom: -95px;
    height: 154px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 5deg);
    z-index: -1;
    margin-bottom: 23px;
    left: 0px;

}
.recruits-left{
    float: left;
    margin-right: 57px;
    border-right: 1px solid #fff;
    padding-right: 57px;
}
.recruits-right{
    float: left;
}
.recruits-left p {
    font-size: 15px;
    padding:0px 0px 11px 0px;
    font-family: 'M PLUS 1p', sans-serif;
}
.recruits-left p:nth-child(4) {
    padding: 0px 0px 0px 0px;
}
.recruits-right p:nth-child(4){
    padding: 0px 0px 11px 0px;
}
.recruits-right p {
    font-size: 15px;
    padding: 0px 0px 9px 0px;
    font-family: 'M PLUS 1p', sans-serif;
}
.recruits-right p:nth-child(4) {
    padding: 0px 0px 0px 0px;
}
.recruits-title{
    font-size: 50px;
    font-weight: 900;
    /*margin: 50px 0px;*/
    position: relative;
    top: -54px;
    color: #ffff;
    font-family: 'M PLUS 1p', sans-serif;
}
/*============== Company Profile Css Start ====================*/
.company-profile{
    padding: 0px 120px;
    clear: both;
    margin-top: 127px;
    margin-bottom: 100px;
}
.main-company-content{
    display: flex;
    margin-top: 56px;
}
.company-profile-left{
   float: left;
    margin-right: 58px;
    border-right: 1px solid #000;
    padding-right: 57px;
}
.company-profile-right{
    float: left;
}
.company-profile-left p {
    font-size: 15px;
    padding: 0px 0px 10px 0px;
    
    font-family: 'M PLUS 1p', sans-serif;
}
.company-profile-left p:nth-child(9){
    font-size: 11px;
    padding: 0px 0px 0px 0px;

    font-family: 'M PLUS 1p', sans-serif;
}
.company-profile-right p {
    font-size: 15px;
    padding: 0px 0px 10px 0px;
    font-family: 'M PLUS 1p', sans-serif;
}
.company-profile-title{
    font-size: 50px;
    font-weight: bold;
    /*margin: 50px 0px;*/
}
/*============== Company Profile Css end   ====================*/



/*============== Button Css Start ====================*/
.btn-section{
    text-align: center;
    margin: 80px 0px;
}
.btn-image-angle{
    height: 30px;
    margin: 0px 0px -8px 0px;
    position: absolute;
    right: 22px;
    top: 26px;
}

.map iframe{
    width: 100%;
    height: 450px;
    border:0px;
}
/*============== Button Css End ====================*/



/*============== Footer Css Start ====================*/
footer{
    padding: 25px 120px;
    background-color: #01A3AE;
}

.footer-display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-level-menu ul{
    display: flex;
}
.footer-level-menu ul li a{
    font-size: 16px;
    font-weight: 500;
    padding: 0px 0px 0px 40px;
    color: #fff;
    font-family: 'M PLUS 1p', sans-serif;

}
.footer-logo img{
    height: 50px;
}
.copy-right-text{
    float: right;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;

}
/*============== Footer Css End ====================

/* Responsive menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #fff;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
    line-height: 70px;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
      padding: 6px;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.lang-menu{
   display: flex;
    position: relative;
    top: 45px;
    left: 40px;

}
.lang-menu span a{
    font-size: 20px;
    color: #000;
}
.line {
    /*font-size: 20px;*/
    height: 25px;
    width: 2px;
    margin-top: 6px;
}