header {
    padding: 18px 120px;
    position: relative;
    z-index: 999;
}
body{
    margin:0px;
}
.logo img {
    height: 62px;
    margin-top: -10px;
     
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 100%;
    width: -ms-available;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    background: #fff;
    transition: .5s;
    
}
.sticky .level-menu ul li a {
    font-size: 18px;
    font-weight: 500;
    padding: 0px 0px 0px 80px;
    color: #000;
    font-family: 'M PLUS 1p', sans-serif;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #fff;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}
.lang-menu {
    display: flex;
    position: relative;
    top: 48px;
    left: 40px;
}
.lang-menu span a {
    font-size: 20px;
    color: #000;
}
.overlay a {
    padding: 6px;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    display: block;
    transition: 0.3s;
}
.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    line-height: 70px;
    margin-top: 30px;
}
.level-menu ul {
    display: flex;
    margin-top: -20px;
    margin-left: 34%;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.level-menu ul li a {
    font-size: 18px;
    font-weight: 500;
    padding: 0px 0px 0px 80px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


#vid{
    width:100%;

}
.banner-section-content {
    position: absolute;
    top: 370px;
    color: #fff;
    padding: 0px 120px;

}
.banner-section-content h1{
    transform: scale(4.5);
    font-size: 20px;
    padding-left: 95px;
    font-family: 'Roboto', sans-serif;
}
.banner-section-content p:after {
    content: "";
    position: absolute;
    background: #fff;
    height: 1px;
    width: 100%;
    /* right: -36px; */
    margin-left: 10px;
    bottom: 24px;
}

.what-f1 {
    background: #01A3AE;
    color: #fff;
    padding: 10px 120px;
    position: relative;
    /* height: 336px; */
    margin-top: -6px;
    margin-bottom: 230px;
    /* clip-path: polygon(100% 0%, 100% 93%, 0% 57%, 0% 0%); */
}
.section-content-f1 {
    padding-top: 30px;
}
.what-f1:before {
    content: "";
    position: absolute;
    bottom: -125px;
    height: 201px;
    left: 0;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
    margin-bottom: 24px;
 }
 .what-f1-title {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
 .bg-image {
    position: absolute;
    right: 3px;
    top: 32px;
    /* width: 383px; */
    overflow: hidden;
    z-index: 1;
    opacity: 0.3;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

}
.left{
    
    float: left;
    width: 50%;
}
.right{
    
    float: right;
    width: 100%;


}
.container h1{
    font-size: 41px;
    color: #212B72;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}
.container p{
    font-size: 18px;
    text-align: left;
    margin-top: 21px;
    color: #000;
    line-height:30px;
    font-family: 'Roboto', sans-serif;
}
.left img{
    width: 180%;
}

.recruits {
    padding: 50px 120px;
    background: #01A3AE;
    color: #fff;
    position: relative;
    margin-top: 144px;
}
.recruits-left {
    float: left;
    margin-right: 57px;
    border-right: 1px solid #fff;
    padding-right: 57px;
}
.recruits-right {
    float: left;
}
.recruits-right p {
    font-size: 15px;
    padding: 0px 0px 9px 0px;
    font-family: 'Roboto', sans-serif;
}
.recruits:before {
    content: "";
    position: absolute;
    bottom: -95px;
    height: 154px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 4deg);
    z-index: -1;
    margin-bottom: 23px;
    left: 0px;
}
.recruits:after {
    content: "";
    position: absolute;
    top: -83px;
    height: 166px;
    width: 100%;
    background: #01a3ae;
    padding: 0px !important;
    transform: skew(0deg, 6deg);
    z-index: -1;
    left: 0px;
}
.recruits-title {
    font-size: 50px;
    
    /* margin: 50px 0px; */
    position: relative;
    top: -90px;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
}
.main-recruits {
    display: flex;
    position: relative;
    top: -50px;
}
.recurits-one {
    margin-bottom: 50px;
}
.recruits-left p {
    font-size: 15px;
    padding: 0px 0px 10px 0px;
    font-family: 'Roboto', sans-serif;
}

.company-profile {
    padding: 0px 120px;
    clear: both;
    margin-top: 127px;
    margin-bottom: 100px;
}
.company-profile-left {
    float: left;
    margin-right: 58px;
    border-right: 1px solid #000;
    padding-right: 57px;
    font-family: 'Roboto', sans-serif;
}
.main-company-content {
    display: flex;
    margin-top: 56px;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: 0px;
}
.btn-section {
    text-align: center;
    margin: 80px 0px;
}
.btn {
    background: #202870;
    color: #fff;
    padding: 30px 100px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
}
.btn-image-angle {
    height: 30px;
    margin: 0px 0px -8px 0px;
    position: absolute;
    right: 22px;
    top: 26px;
}

footer {
    padding: 25px 120px;
    background-color: #01A3AE;
}
.footer-display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img {
    height: 50px;
}
.footer-level-menu ul {
    display: flex;
}
.footer-level-menu ul li a {
    font-size: 16px;
    font-weight: 500;
    padding: 0px 0px 0px 40px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.btn-section {
    text-align: center;
    margin: 80px 0px;
}
.btn {
    background: #202870;
    color: #fff;
    padding: 30px 100px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
}
.btn-image-angle {
    height: 30px;
    margin: 0px 0px -8px 0px;
    position: absolute;
    right: 22px;
    top: 26px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
}
.copy-right-text {
    float: right;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
}
